@import "./global.css";

body{
    background: var(--beje);
}

header{
    background: var(--vermelho);
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    color: var(--branco);
    text-decoration: none;
    font-weight: bold;
}

header ul,
header li{
    list-style: none;
}

header ul {
    display: flex;
    gap: 5rem;
}

header img{
    width: 5rem;
    height: 4rem;
    border-radius: 50%;
}

.antiguidade{
    align-items: center;
     background-color: var(--vinho);
     height: 15rem;
     width: 16rem;
     color:var(--branco);
     padding: 2rem;
     gap: 2rem;
 }

 .img1 {
    width: 20rem;
    height: 10rem;
    padding-top: 2rem;
}

.antiguidade p{
    width: 15rem;
}

.formacaoEstado{
    align-items: center;
    background-color: var(--vermelho);
    height: 15rem;
    width: 16rem;
    color: var(--branco);
    padding: 2rem;
    gap: 3rem;
}

.img2{
    width: 20rem;
    height: 10rem;
    padding-top: 2rem;
}

.formacaoEstado p{
    width: 15rem;
}

.colonial{
    align-items: center;
    background-color: var(--vermelho);
    height: 15rem;
    width: 16rem;
    color: var(--branco);
    padding: 2rem;
}

.img3{
    width: 20rem;
    height: 10rem;
    padding-top: 2rem;
}

.colonial p{
    width: 15rem;
}

.container{
    text-align: center;
    margin-top: 50rem;
    color: var(--branco);
}

.options{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
    background-color: var(--preto);
}

.option {
    text-align: center;
    color: white;
    width: 20rem;
    height: 15rem;
    border-radius: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between 2rem;
    padding-top: 1rem;
}

.option img {
    width: 10rem;
    height: 10rem;
    
    object-fit: cover;
    border-radius: 1rem;
}

.option p {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    height: 10rem;
}

.botao{
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 18rem;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.botao button a:houver{
    background-color: var(--vinho);
    color: var(--branco);
    transition: 0,7s;
}

